@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-variant-numeric: tabular-nums;
  font-display: swap;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}